/*------ Variables ------*/
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(21, 91%, 17%);
  --clr-primary-2: hsl(21, 84%, 25%);
  --clr-primary-3: hsl(21, 81%, 29%);
  --clr-primary-4: hsl(21, 77%, 34%);
  /* primary/main color */
  --clr-primary-5: hsl(21, 62%, 45%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(21, 57%, 50%);
  --clr-primary-7: hsl(21, 65%, 59%);
  --clr-primary-8: hsl(21, 80%, 74%);
  --clr-primary-9: hsl(21, 94%, 87%);
  --clr-primary-10: hsl(21, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: #102a42;
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --font: "Roboto", sans-serif;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
  .nav-center {
    position: relative;
  }
  .nav-logo {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
  }
  .toggle-nav {
    display: none;
  }
  .nav-links {
    display: flex;
    font-size: 1.5rem;
    text-transform: capitalize;
  }
  .nav-link {
    color: var(--clr-white);
    margin-right: 3rem;
    letter-spacing: var(--spacing);
    transition: var(--transition);
    font-size: 1.25rem;
  }
  .nav-link:hover {
    color: var(--clr-primary-5);
  }
  .sidebar-overlay {
    display: none;
  }
  .hero h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
}
@media screen and (min-width: 992px) {
  .nav-logo {
    left: 50%;
  }
  .hero h1 {
    font-size: 4.4rem;
    letter-spacing: 5px;
  }
  .hero h3 {
    font-size: 2.75rem;
    margin: 1.5rem 0;
  }
  .featured-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .single-product-center {
    grid-template-columns: 1fr 1fr;
  }
  .products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .products-container .product-img {
    height: 10rem;
  }
  .products-container .product-name {
    font-size: 0.85rem;
  }
  .products-container .product-price {
    font-size: 0.85rem;
  }
}
@media screen and (min-width: 768px) {
  .products {
    grid-template-columns: 200px 1fr;
  }
  .categories {
    position: sticky;
    top: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .featured-center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .product .img {
    height: 13rem;
  }
}
@media screen and (min-width: 1170px) {
  .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}